.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.program {
    border: 1px solid #ccc;
    padding: 20px;
}

.program img {
    max-width: 100%;
    height: auto;
}

.program-description {
    margin-top: 10px;
}

.program-donation {
    margin-top: 10px;
    font-weight: bold;
}